# pandas.read_sql_table

pandas.read_sql_tabletable_nameconschema=Noneindex_col=Nonecoerce_float=Trueparse_dates=Nonecolumns=Nonechunksize=NoneRead SQL database table into a DataFrame.

Given a table name and a SQLAlchemy connectable, returns a DataFrame.
This function does not support DBAPI connections.


<dl style='margin: 20px 0;'>
<dt>Parameters</dt>
<dd>

<dl style='margin: 20px 0;'>
<dt>**table_name**</dt>
str<dd>
Name of SQL table in database.

</dd>
<dt>**con**</dt>
SQLAlchemy connectable or str<dd>
A database URI could be provided as as str.
SQLite DBAPI connection mode not supported.

</dd>
<dt>**schema**</dt>
str, default None<dd>
Name of SQL schema in database to query (if database flavor
supports this). Uses default schema if None (default).

</dd>
<dt>**index_col**</dt>
str or list of str, optional, default: None<dd>
Column(s) to set as index(MultiIndex).

</dd>
<dt>**coerce_float**</dt>
bool, default True<dd>
Attempts to convert values of non-string, non-numeric objects (like
decimal.Decimal) to floating point. Can result in loss of Precision.

</dd>
<dt>**parse_dates**</dt>
list or dict, default None<dd>
- List of column names to parse as dates.  
- Dict of `{column_name: format string}` where format string is
  strftime compatible in case of parsing string times or is one of
  (D, s, ns, ms, us) in case of parsing integer timestamps.  
- Dict of `{column_name: arg dict}`, where the arg dict corresponds
  to the keyword arguments of `pandas.to_datetime()`
  Especially useful with databases without native Datetime support,
  such as SQLite.  


</dd>
<dt>**columns**</dt>
list, default None<dd>
List of column names to select from SQL table.

</dd>
<dt>**chunksize**</dt>
int, default None<dd>
If specified, returns an iterator where chunksize is the number of
rows to include in each chunk.

</dd>

</dl>

</dd>
<dt>Returns</dt>
<dd>

<dl style='margin: 20px 0;'>
<dt>DataFrame</dt>
<dd>
A SQL table is returned as two-dimensional data structure with labeled
axes.

</dd>

</dl>

</dd>

</dl>


<dl style='margin: 20px 0;'>
<dt>[`read_sql_query`](pandas.read_sql_query#pandas.read_sql_query)</dt>
<dd>
Read SQL query into a DataFrame.

</dd>
<dt>[`read_sql`](pandas.read_sql#pandas.read_sql)</dt>
<dd>
Read SQL query or database table into a DataFrame.

</dd>

</dl>

Notes

Any datetime values with time zone information will be converted to UTC.

Examples

>>> pd.read_sql_table('table_name', 'postgres:///db_name')  # doctest:+SKIP