
<a id='min'></a>
{{ header }}

# 10 minutes to pandas

This is a short introduction to pandas, geared mainly for new users.
You can see more complex recipes in the [Cookbook](user_guide/cookbook.ipynb#cookbook).

Customarily, we import as follows:

In [ ]:
import numpy as np
import pandas as pd

## Object creation

See the [Data Structure Intro section](dsintro.ipynb#dsintro).

Creating a `Series` by passing a list of values, letting pandas create
a default integer index:

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

Creating a `DataFrame` by passing a NumPy array, with a datetime index
and labeled columns:

In [ ]:
dates = pd.date_range('20130101', periods=6)
dates
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

Creating a `DataFrame` by passing a dict of objects that can be converted to series-like.

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

The columns of the resulting `DataFrame` have different
[dtypes](basics.ipynb#basics-dtypes).

In [ ]:
df2.dtypes

If you’re using IPython, tab completion for column names (as well as public
attributes) is automatically enabled. Here’s a subset of the attributes that
will be completed:

As you can see, the columns `A`, `B`, `C`, and `D` are automatically
tab completed. `E` is there as well; the rest of the attributes have been
truncated for brevity.

## Viewing data

See the [Basics section](basics.ipynb#basics).

Here is how to view the top and bottom rows of the frame:

In [ ]:
df.head()
df.tail(3)

Display the index, columns:

In [ ]:
df.index
df.columns

`DataFrame.to_numpy()` gives a NumPy representation of the underlying data.
Note that this can be an expensive operation when your `DataFrame` has
columns with different data types, which comes down to a fundamental difference
between pandas and NumPy: **NumPy arrays have one dtype for the entire array,
while pandas DataFrames have one dtype per column**. When you call
`DataFrame.to_numpy()`, pandas will find the NumPy dtype that can hold *all*
of the dtypes in the DataFrame. This may end up being `object`, which requires
casting every value to a Python object.

For `df`, our `DataFrame` of all floating-point values,
`DataFrame.to_numpy()` is fast and doesn’t require copying data.

In [ ]:
df.to_numpy()

For `df2`, the `DataFrame` with multiple dtypes,
`DataFrame.to_numpy()` is relatively expensive.

In [ ]:
df2.to_numpy()

>**Note**
>
>`DataFrame.to_numpy()` does *not* include the index or column
labels in the output.

`describe()` shows a quick statistic summary of your data:

In [ ]:
df.describe()

Transposing your data:

In [ ]:
df.T

Sorting by an axis:

In [ ]:
df.sort_index(axis=1, ascending=False)

Sorting by values:

In [ ]:
df.sort_values(by='B')

## Selection

>**Note**
>
>While standard Python / Numpy expressions for selecting and setting are
intuitive and come in handy for interactive work, for production code, we
recommend the optimized pandas data access methods, `.at`, `.iat`,
`.loc` and `.iloc`.

See the indexing documentation [Indexing and Selecting Data](user_guide/indexing.ipynb#indexing) and [MultiIndex / Advanced Indexing](user_guide/advanced.ipynb#advanced).

### Getting

Selecting a single column, which yields a `Series`,
equivalent to `df.A`:

In [ ]:
df['A']

Selecting via `[]`, which slices the rows.

In [ ]:
df[0:3]
df['20130102':'20130104']

### Selection by label

See more in [Selection by Label](user_guide/indexing.ipynb#indexing-label).

For getting a cross section using a label:

In [ ]:
df.loc[dates[0]]

Selecting on a multi-axis by label:

In [ ]:
df.loc[:, ['A', 'B']]

Showing label slicing, both endpoints are *included*:

In [ ]:
df.loc['20130102':'20130104', ['A', 'B']]

Reduction in the dimensions of the returned object:

In [ ]:
df.loc['20130102', ['A', 'B']]

For getting a scalar value:

In [ ]:
df.loc[dates[0], 'A']

For getting fast access to a scalar (equivalent to the prior method):

In [ ]:
df.at[dates[0], 'A']

### Selection by position

See more in [Selection by Position](user_guide/indexing.ipynb#indexing-integer).

Select via the position of the passed integers:

In [ ]:
df.iloc[3]

By integer slices, acting similar to numpy/python:

In [ ]:
df.iloc[3:5, 0:2]

By lists of integer position locations, similar to the numpy/python style:

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

For slicing rows explicitly:

In [ ]:
df.iloc[1:3, :]

For slicing columns explicitly:

In [ ]:
df.iloc[:, 1:3]

For getting a value explicitly:

In [ ]:
df.iloc[1, 1]

For getting fast access to a scalar (equivalent to the prior method):

In [ ]:
df.iat[1, 1]

### Boolean indexing

Using a single column’s values to select data.

In [ ]:
df[df.A > 0]

Selecting values from a DataFrame where a boolean condition is met.

In [ ]:
df[df > 0]

Using the `isin()` method for filtering:

In [ ]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2
df2[df2['E'].isin(['two', 'four'])]

### Setting

Setting a new column automatically aligns the data
by the indexes.

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
s1
df['F'] = s1

Setting values by label:

In [ ]:
df.at[dates[0], 'A'] = 0

Setting values by position:

In [ ]:
df.iat[0, 1] = 0

Setting by assigning with a NumPy array:

In [ ]:
df.loc[:, 'D'] = np.array([5] * len(df))

The result of the prior setting operations.

In [ ]:
df

A `where` operation with setting.

In [ ]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

## Missing data

pandas primarily uses the value `np.nan` to represent missing data. It is by
default not included in computations. See the [Missing Data section](user_guide/missing_data.ipynb#missing-data).

Reindexing allows you to change/add/delete the index on a specified axis. This
returns a copy of the data.

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

To drop any rows that have missing data.

In [ ]:
df1.dropna(how='any')

Filling missing data.

In [ ]:
df1.fillna(value=5)

To get the boolean mask where values are `nan`.

In [ ]:
pd.isna(df1)

## Operations

See the [Basic section on Binary Ops](basics.ipynb#basics-binop).

### Stats

Operations in general *exclude* missing data.

Performing a descriptive statistic:

In [ ]:
df.mean()

Same operation on the other axis:

In [ ]:
df.mean(1)

Operating with objects that have different dimensionality and need alignment.
In addition, pandas automatically broadcasts along the specified dimension.

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s
df.sub(s, axis='index')

### Apply

Applying functions to the data:

In [ ]:
df.apply(np.cumsum)
df.apply(lambda x: x.max() - x.min())

### Histogramming

See more at [Histogramming and Discretization](basics.ipynb#basics-discretization).

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
s
s.value_counts()

### String Methods

Series is equipped with a set of string processing methods in the str
attribute that make it easy to operate on each element of the array, as in the
code snippet below. Note that pattern-matching in str generally uses [regular
expressions](https://docs.python.org/3/library/re.html) by default (and in
some cases always uses them). See more at [Vectorized String Methods](user_guide/text.ipynb#text-string-methods).

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

## Merge

### Concat

pandas provides various facilities for easily combining together Series and
DataFrame objects with various kinds of set logic for the indexes
and relational algebra functionality in the case of join / merge-type
operations.

See the [Merging section](user_guide/merging.ipynb#merging).

Concatenating pandas objects together with `concat()`:

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]

pd.concat(pieces)

### Join

SQL style merges. See the [Database style joining](user_guide/merging.ipynb#merging-join) section.

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
left
right
pd.merge(left, right, on='key')

Another example that can be given is:

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
left
right
pd.merge(left, right, on='key')

### Append

Append rows to a dataframe. See the [Appending](user_guide/merging.ipynb#merging-concatenation)
section.

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
df
s = df.iloc[3]
df.append(s, ignore_index=True)

## Grouping

By “group by” we are referring to a process involving one or more of the
following steps:

> - **Splitting** the data into groups based on some criteria  
- **Applying** a function to each group independently  
- **Combining** the results into a data structure  



See the [Grouping section](user_guide/groupby.ipynb#groupby).

In [ ]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                         'foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three',
                         'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})
df

Grouping and then applying the `sum()` function to the resulting
groups.

In [ ]:
df.groupby('A').sum()

Grouping by multiple columns forms a hierarchical index, and again we can
apply the `sum` function.

In [ ]:
df.groupby(['A', 'B']).sum()

## Reshaping

See the sections on [Hierarchical Indexing](user_guide/advanced.ipynb#advanced-hierarchical) and
[Reshaping](user_guide/reshaping.ipynb#reshaping-stacking).

### Stack

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df2 = df[:4]
df2

The `stack()` method “compresses” a level in the DataFrame’s
columns.

In [ ]:
stacked = df2.stack()
stacked

With a “stacked” DataFrame or Series (having a `MultiIndex` as the
`index`), the inverse operation of `stack()` is
`unstack()`, which by default unstacks the **last level**:

In [ ]:
stacked.unstack()
stacked.unstack(1)
stacked.unstack(0)

### Pivot tables

See the section on [Pivot Tables](user_guide/reshaping.ipynb#reshaping-pivot).

In [ ]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                   'B': ['A', 'B', 'C'] * 4,
                   'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D': np.random.randn(12),
                   'E': np.random.randn(12)})
df

We can produce pivot tables from this data very easily:

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

## Time series

pandas has simple, powerful, and efficient functionality for performing
resampling operations during frequency conversion (e.g., converting secondly
data into 5-minutely data). This is extremely common in, but not limited to,
financial applications. See the [Time Series section](user_guide/timeseries.ipynb#timeseries).

In [ ]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample('5Min').sum()

Time zone representation:

In [ ]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts
ts_utc = ts.tz_localize('UTC')
ts_utc

Converting to another time zone:

In [ ]:
ts_utc.tz_convert('US/Eastern')

Converting between time span representations:

In [ ]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ps = ts.to_period()
ps
ps.to_timestamp()

Converting between period and timestamp enables some convenient arithmetic
functions to be used. In the following example, we convert a quarterly
frequency with year ending in November to 9am of the end of the month following
the quarter end:

In [ ]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
ts.head()

## Categoricals

pandas can include categorical data in a `DataFrame`. For full docs, see the
[categorical introduction](user_guide/categorical.ipynb#categorical) and the API documentation.

In [ ]:
df = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6],
                   "raw_grade": ['a', 'b', 'b', 'a', 'a', 'e']})

Convert the raw grades to a categorical data type.

In [ ]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

Rename the categories to more meaningful names (assigning to
`Series.cat.categories` is inplace!).

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

Reorder the categories and simultaneously add the missing categories (methods under `Series
.cat` return a new `Series` by default).

In [ ]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium",
                                              "good", "very good"])
df["grade"]

Sorting is per order in the categories, not lexical order.

In [ ]:
df.sort_values(by="grade")

Grouping by a categorical column also shows empty categories.

In [ ]:
df.groupby("grade").size()

## Plotting

See the [Plotting](user_guide/visualization.ipynb#visualization) docs.

In [ ]:
ts = pd.Series(np.random.randn(1000),
               index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()


ts.plot()

On a DataFrame, the `plot()` method is a convenience to plot all
of the columns with labels:

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])
df = df.cumsum()

plt.figure()
df.plot()

plt.legend(loc='best')

## Getting data in/out

### CSV

[Writing to a csv file.](user_guide/io.ipynb#io-store-in-csv)

In [ ]:
df.to_csv('foo.csv')

[Reading from a csv file.](user_guide/io.ipynb#io-read-csv-table)

In [ ]:
pd.read_csv('foo.csv')

### HDF5

Reading and writing to [HDFStores](user_guide/io.ipynb#io-hdf5).

Writing to a HDF5 Store.

In [ ]:
df.to_hdf('foo.h5', 'df')

Reading from a HDF5 Store.

In [ ]:
pd.read_hdf('foo.h5', 'df')

### Excel

Reading and writing to [MS Excel](user_guide/io.ipynb#io-excel).

Writing to an excel file.

In [ ]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

Reading from an excel file.

In [ ]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

## Gotchas

If you are attempting to perform an operation you might see an exception like:

In [ ]:
>>> if pd.Series([False, True, False]):
...     print("I was true")
Traceback
    ...
ValueError: The truth value of an array is ambiguous. Use a.empty, a.any() or a.all().

See [Comparisons](basics.ipynb#basics-compare) for an explanation and what to do.

See [Gotchas](user_guide/gotchas.ipynb#gotchas) as well.